.theme--light.application {
  background: $body-color;
}

a {
  text-transform: none;
  text-decoration: none;
}

html {
  font-size: $font-size-general + 2!important;
}
/*整体部分*/
::-webkit-scrollbar
{
  width: 0px;
  height: 10px;
}
/*滑动轨道*/
::-webkit-scrollbar-track
{
  border-radius: 0px;
  background: none;
}
/*滑块*/
::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: rgba(255,255,255,.75)
}
/*滑块效果*/
::-webkit-scrollbar-thumb:hover
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: rgba(85, 85, 85, 0.4);
}

.category {
  font-size: $font-size-general;
}

.theme--light.v-icon {
  color: $gray-light;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;

  p {
    font-style: italic;
    color: $blockquote-color;
    font-weight: $font-weight-bolder;
  }

  small {
    font-size: 70%;
  }
}

b,
strong {
  font-size: $font-size-small;
  font-weight: $font-weight-bolder;
}

.v-list--three-line .v-list__tile {
  height: auto;
}

@include drawer-active-colors('primary', $brand-primary);
@include drawer-active-colors('success', $brand-success);
@include drawer-active-colors('danger', $brand-danger);
@include drawer-active-colors('info', $brand-info);
@include drawer-active-colors('warning', $brand-warning);
